<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hirecar.mapper.CarMapper">
    <select id="getListLimit" resultType="com.example.hirecar.bean.Car">
		SELECT *
		FROM car
		WHERE
		buy_status = 0
		ORDER BY brows_times DESC
		LIMIT #{count}
	</select>
</mapper>
