<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hirecar.mapper.UserMapper">
    <select id="getByAccountPasswd" resultType="com.example.hirecar.bean.User">
		SELECT *
		FROM user
		WHERE
		account=#{account}
		AND
		password=#{password}
	</select>
    <select id="selectAccount" resultType="com.example.hirecar.bean.User">
		SELECT *
		FROM user
		WHERE
		account=#{account}
	</select>
    <insert id="addUser" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id" parameterType="com.example.hirecar.bean.User">
		INSERT INTO
		user(account,password,
		avatar_path,name)
		VALUES
		(#{account},#{password},
		#{avatarPath},#{name})
	</insert>
</mapper>
